body {
    background-image: url(https://www.google.com/imgres?imgurl=https%3A%2F%2Fmedia.istockphoto.com%2Fphotos%2Ffemale-legs-in-pink-sandals-upside-down-on-blue-background-picture-id1317393060%3Fb%3D1%26k%3D20%26m%3D1317393060%26s%3D170667a%26w%3D0%26h%3DMLeCjXO3wC5GfZ7RbXTVp2Ddb6dYfS8afiFZfcBlsHM%3D&imgrefurl=https%3A%2F%2Funsplash.com%2Fs%2Fphotos%2Fsandals&tbnid=VMiF0cxmaAR0eM&vet=12ahUKEwiYyJ_hie33AhUJehoKHTArAYIQMygAegUIARDBAQ..i&docid=EKJfPYWhjIVHuM&w=509&h=339&q=download%20sandals%20pictures&ved=2ahUKEwiYyJ_hie33AhUJehoKHTArAYIQMygAegUIARDBAQ);
    background-size: cover;
}
h1 {
    color: red;
    text-align: center;
}